<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Flask Basic</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="copyright" content="">
    <link href="styles.css" rel="stylesheet" type="text/css">
</head>

<body>
    <h1>Halo lur :)</h1>
    <div id="wrap">
        <div id="head"></div>
        <ul id="nav"></ul>
        <div id="content">
            <div id="left"></div>
        </div>
        <div id="foot"></div>
    </div>

    <!-- <script type="text/javascript" src="temp.js"></script> -->
</body>

</html>