<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="copyright" content="">
    <link href="styles.css" rel="stylesheet" type="text/css">
</head>

<body>
    <h1>Ini Form Login</h1>
    <form action="/login" method="POST">
        <label for="">Email</label> <br>
        <input type="text" name="email" value=""> <br>

        <label for="">Password</label> <br>
        <input type="password" name="password" value=""> <br>

        <input type="submit" name="" value="Login">
    </form>
</body>

</html>